<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <main>
      <div class="h-screen w-full bg-indigo-200 flex justify-center items-center">
        <form
          class="w-full max-w-md bg-white flex flex-col py-6 px-8 rounded-lg shadow-lg"
          action="<%= action %>"
          method="<%= method %>"
        >
          <div class="w-full flex mb-3 shadow rounded">
            <label class="text-gray-700 border border-gray-300 bg-gray-300 rounded-l py-1 px-3" for="url"><%= firstLabelText %></label>
            <input
              class="w-full text-gray-700 border border-gray-300 rounded-r focus:outline-none focus:shadow-outline py-1 px-3"
              type="text"
              placeholder="Enter a URL"
              name="url"
              required
              value="<%= firstInputText %>"
              <%= disabled ? 'disabled' : '' %>
            />
          </div>
          <div class="w-full flex mb-3 shadow rounded">
            <label class="text-gray-700 border border-gray-300 bg-gray-300 rounded-l py-1 px-3" for="slug"><%= secondLabelText %></label>
            <input
              class="w-full text-gray-700 border border-gray-300 rounded-r focus:outline-none focus:shadow-outline py-1 px-3"
              type="text"
              placeholder="Alias (optional)"
              name="slug"
              value="<%= secondInputText %>"
              <%= disabled ? 'disabled' : '' %>
            />
          </div>

          <p class="text-<%= success ? "green" : "red" %>-500 font-bold text-sm italic"><%= notificationText %></p>

          <div class="flex justify-between items-center mt-4">
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded py-2 px-4"
            >
              <%= buttonText %>
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
